jwt:
  # 用于加密生成 token 的 secret
  secret: liey-admin-secret-key

  # 颁发者声明标识
  issuer: liey-admin

  # 指定令牌有效时间（以秒为单位）
  # 默认一个小时, 也可以设为 -1，生成永不过期的令牌（不推荐这种操作）
  ttl: 3600

  # 令牌可刷新时间(以秒为单位)
  # 用户可以在刷新时间内凭借旧的令牌换取新的令牌，过时之后就需要重新认证
  # 也可以设为 -1，生成永久可刷新的令牌（不推荐这种操作）
  refreshTTL: 20160

  # 黑名单宽限期（以秒为单位）
  # 当多个并发请求使用相同的令牌时， 由于令牌刷新 ，其中一些可能会失败，宽限时间以防止并发的请求失败。
  # （即被拉入黑名单的令牌宽限期内依然可以使用）
  blacklistGracePeriod: 5